<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score %>
  </div>

  <div class="field">
    <%= form.label :oenologist_id %>
    <%= form.select :oenologist_id, options_from_collection_for_select(@oenologists, :id, :name), include_blank: "Select Reviewer"%>
  </div>

  <div class="field">
    <%= form.label :wine_id %>
    <%= form.select :wine_id, options_from_collection_for_select(@wines, :id, :name), include_blank: "Select Wine" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
